<% content_for :banner_title do %>
<%= fa_icon 'money lg' %>&nbsp;Replenish Account
<% end %>
<div id="load-credit-page">
    <p>With the new dotPH top-up system, you can buy domains and mix it with the many add-on services that we offer.</p>
    <p class="lead"> Select amount below. Top-up your balance with :</p>
    <div class="btn btn-success"><input type="radio" id="amount_1" name="amount" value="100"> <label for="amount_1">$1.00</label></div>
    <div class="btn btn-success"><input type="radio" id="amount_150" name="amount" value="15000"> <label for="amount_250">$150.00</label></div>
    <div class="btn btn-success"><input type="radio" id="amount_250" name="amount" value="25000"> <label for="amount_250">$250.00</label></div>
    <div class="btn btn-success"><input type="radio" id="amount_500" name="amount" value="50000"> <label for="amount_500">$500.00</label></div>
    <div class="btn btn-success "><input type="radio" id="amount_1000" name="amount" value="100000"> <label for="amount_1000">$1,000.00</label></div>
    <div class="btn btn-success "><input type="radio" id="amount_2500" name="amount" value="250000"> <label for="amount_2500">$2,500.00</label></div>
    <div class="btn btn-success  "><input type="radio" id="amount_5000" name="amount" value="500000"> <label for="amount_5000">$5,000.00</label></div>
    <hr>
    <button type="button" class="btn btn-primary pull-right" onclick="location.href='/transaction';"">&nbsp;&nbsp;Next &nbsp;&nbsp;<i class="fa fa-caret-right"></i>&nbsp;&nbsp;</button>
    <div class="text-danger" >* Credit Card payments are subject to 5% transaction fee.</div>


    <%= javascript_include_tag 'https://sandbox.checkout.com/js/v1/checkout.js' %>
    <form id="payment_form" method="POST">
    </form>
</div>