<% content_for :banner_title do %>
  <%= fa_icon 'paste lg' %>&nbsp;Invoice
<% end %>
 <div id="table">
  <h4>Invoice No: <span class="text-success">FCA5KVA1</span></h4>
  <table id="credits">
    <thead>
      <tr>
        <th>Item</th>
        <th>Description</th>
        <th>Amount ($)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Top Up</td>
        <td>Replenish Credits</td>
        <td>1,000.00</td>
      </tr>
      <tr>
        <td>Transaction Fee</td>
        <td> </td>
        <td>7.50</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>TOTAL</td>
        <td></td>
        <td>$1,007.50</td>
      </tr>
    </tfoot>
  </table>

  <button onclick="window.open('/receipt','_blank'); " type="button" class=" btn btn-primary">
    <i class="fa fa-print"></i>&nbsp;&nbsp;Print Invoice</button>

</div>