<div id="homepage">
  <div>
    <%= fa_icon 'users 4x' %>
    <h2>Partner Program</h2>
    <p>dotPH has been registering PH domain names since 1990. Our Partner Program is the best way to make serious profits on PH Domain Sales. With the dotPH Partner Console, you can search, purchase and manage all your domains from one account. Or connect to us via EPP and allow your clients to do all these in real-time directly from your website.</p>
  </div>

  <div>
    <%= fa_icon 'dollar 4x' %>
    <h2>Wholesale Pricing</h2>
    <p>Get PH domains at a discount and set your own retail prices. The more domains you register, the bigger your discounts. Pricing can go as low as $7.50 for 1-year registrations.</p>
  </div>

  <div>
    <%= fa_icon 'user 4x' %>
    <h2>Become a Partner</h2>
    <p>Add value to your products and services by bundling PH domains with your packages. Ideal for ISPs, Web hosting companies and Webdesigners, as well as those providing Brand Management and Intellectual Property Protection services.</p>
    <p>It's a great time to become a dotPH Partner. Get in on the action now and become part of this burgeoning industry.</p>
  </div>
</div>