<div class="modal fade" id="modal-brenew" tabindex="-1" role="dialog" aria-labelledby="modal-brenew" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag renew_multiple_domains_path(id: 0), method: :post, id: "renew-multiple-form" do |f| %>
        <div class="modal-header">
          <h4 class="modal-title">Bulk Renew Domain</h4>
        </div>
        <div class="modal-body">
          <div id="step1-brenew">
            <label>Enter domain(s) here. Enter one domain per line or separate by space.</label>
            <%= text_area_tag :list, nil, rows: 5, class: "form-control input-lg",
              id: "bulk-renew-term-text-area", "data-domains": @domains.map{|d| d.name} %>
            <!--error msg-->
            <div class="alert alert-danger" role="alert" id="bulk-renew-term-error" style="display:none">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              You have entered an invalid Domain. Please check.
            </div>
            <!--error msg-->
          </div>
          <div id="step2-brenew" style="display:none;">
            <p>The additional renewal term will be added to the existing duration of these domains.</p>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Domain</th>
                  <th>Expiry Date</th>
                  <th width="50px">Renewal Term</th>
                </tr>
              </thead>
              <tbody id="renewal-term-table-body">
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="bulk-renew-term-cancel">
            Cancel
          </button>
          <%= button_tag 'Continue', type: 'button', class: "btn btn-success", id: "bulk-renew-term-button",
            "data-domains": @domains.map{|d| [d.name, d.expires_at.to_datetime.strftime("%F")]}.to_h.to_json %>
          <%= submit_tag 'Renew Domain(s)', class: "btn btn-success", id: "bulk-renew-term-button2",
            style: "display:none;" %>
        </div>
      <% end %>
    </div>
  </div>
</div>