<hr class="line">
<div class="contact-info-wrapper">
  <div class="title">DNS Records</div>
  <%= render "powerdns/records/new" %>
  <div class="col-lg-12" id="pdnsNewDynamicTableForm">
    <p class="pull-right">
      <% unless @domain.pending_transfer? %>
        <%= link_to "Add DNS", "#", id: "addPowerDnsBtn" %>
      <% end %>
    </p>
    <div id="pdnsListTableBody">
      <%= render "powerdns/records/index" %>
    </div>
    <div id="dnsDynamicForm"></div>
    <div id="pdnsErrors"></div>
  </div>
</div>