<hr class="line">
<div class="contact-info-wrapper">
  <div class="title">DNS Records</div>
  <div class="col-lg-12" id="pdnsNewDynamicTableForm">
    <p class="pull-right">
      <%= link_to "Add DNS", "#", id: "addPowerDnsBtn" %>
    </p>
    <div id="pdnsListTableBody">
      <%= render "powerdns/records/index" %>
    </div>
    <%= render "powerdns/records/new" %>
    <div id="dnsDynamicForm"></div>
  </div>
</div>