<hr class="line">
<div class="contact-info-wrapper">
  <div class="title">DNS Records</div>
  <div class="col-lg-12" id="pdnsNewDynamicTableForm">
    <p class="pull-right">
      <%= link_to "Add DNS", new_powerdns_record_path(domain_id: @domain.id), id: "addPowerDnsBtn", remote: true %>
    </p>
    <div id="pdnsListTableBody">
      <%= render "powerdns/records/index" %>
    </div>
    <div id="dnsDynamicForm"></div>
  </div>
</div>