<% if @domain.pending_transfer? %>
  <div id="alert" class="alert alert-warning" role="alert">
    <div class="title">
      <%= @domain.status_pending_transfer %>
    </div>
    <br>
    <div class="title">
      <%= link_to "Reject", domain_transfer_url(@domain.id, @domain.name), :method => :delete, :class => "btn btn-default btn-small" %>
      <%= link_to "Accept", domain_transfer_url(@domain.id, @domain.name), :method => :put, :class => "btn btn-primary btn-small" %>
    </div>
  </div>
<% end %>
