$ ->
  showErrorNotice = (text) ->
    $(".pns-error-notice").fadeIn()
    $("#pns-error-text").text(text)

  getDomain = (domain_host) ->
    domainHostArray = domain_host.split('.')
    valid_2nd_extensions = ["com", "net", "org"]

    if $.inArray("ph", domainHostArray) > -1
      phNS = true

    for extension in valid_2nd_extensions
      if $.inArray(extension, domainHostArray) > -1
        valid_2nd_extension = true
    if valid_2nd_extension and phNS
      domain_name = domainHostArray[domainHostArray.length - 3] + "." + domainHostArray[domainHostArray.length - 2] + "." + domainHostArray[domainHostArray.length - 1]
    else
      domain_name = domainHostArray[domainHostArray.length - 2] + "." + domainHostArray[domainHostArray.length - 1]
    return domain_name

  checkNsFormat = (nameserver) ->
    has_error  = false
    valid_nameserver = /^(([a-zA-Z0-9-_\.]{1})|([a-zA-Z0-9-_\.]{1}[a-zA-Z0-9-_\.]{1})|([a-zA-Z0-9-_\.]{1}[0-9]{1})|([0-9]{1}[a-zA-Z0-9-_\.]{1})|([a-zA-Z0-90-9-_\.][a-zA-Z0-9-0-9-_\.]{1,61}[a-zA-Z0-9-\.]))\.([a-zA-Z]{2,6}|[a-zA-Z0-9-]{2,30}\.[a-zA-Z]{2,3})$/
    if nameserver != ""
      if nameserver.match valid_nameserver
        $("#submitNsBtn").removeClass('disabled')
        $(".pns-error-notice").fadeOut()
      else
        has_error  = true
        failing_nameserver = nameserver
        $("#submitNsBtn").addClass('disabled')
    else
      $("#submitNsBtn").removeClass('disabled')
      $(".pns-error-notice").fadeOut()

    if has_error
      text = "Nameserver " + failing_nameserver + " has invalid format."
      showErrorNotice(text)

  checkNsAuthorization = () ->
    $(".partner-config-ns").each ->
      if $(this).eq(0).val() != ""
        nameserver = $(this).eq(0).val()
        $.ajax(
          method: "GET"
          url: "/domains/check_ns_authorization"
          data:
            domain: ->
              return getDomain(nameserver)
            host: ->
              return nameserver
          success: (data) ->
            $("#submitNsBtn").removeClass('disabled')
            if data != true
              $("#submitNsBtn").addClass('disabled')
              text = "Some nameservers cannot be created because domain is owned by different registrar or is not yet created."
              showErrorNotice(text)
          )

  $("#cancelNsBtn").hide()
  $(".pns-error-notice").hide()
  $('#editNsBtn').click ->
    $(this).hide()
    $("#cancelNsBtn").show()

  $('#cancelNsBtn').click ->
    $(this).hide()
    $("#editNsBtn").show()

  $("#pnsTableBody").on 'click', '#plusNSLink', ->
    array = $(".partner-config-ns").length
    row   =  "<tr class='partner_ns_" + array + "_tr'>
                <td>
                  <input type='text' name='partner_ns_" + array + "' id='partner_ns_" + array + "' placeholder='Enter Nameserver' class='form-control partner-config-ns'>
                </td>
                <td style='width: 5%;'>
                  <a class='btn btn-default btn-sm btn-remove-partner-nameserver'>
                    <i class='fa fa-close' style='margin-top: 0px;'></i>
                    <span class='sr-only'>Delete</span>
                  </a>
                </td>
              </tr>"
    if array != 0
      $("#partnerNsTableForm tr:last").after(row)
    else
      $("#partnerNsTableForm").append(row)

  $("#pnsTableBody").on "click", ".btn-remove-partner-nameserver", ->
    thisParentClass = $(this).parent().parent().prop('className')
    $('.' + thisParentClass).remove()
    return

  $("#pnsTableBody").on 'blur', '.partner-config-ns', ->
    nameserver = $(this).val()
    checkNsFormat(nameserver)
    checkNsAuthorization()

  $("#pnsTableBody").on 'mouseenter', '#submitNsBtn', ->
    $(".partner-config-ns").trigger("blur")

  $("#pnsTableBody").on 'click', ".btn-remove-partner-nameserver", ->
    $(".partner-config-ns").trigger("blur")

  $("#pnsTableBody").on 'click', '#submitNsBtn', ->
    if not $("#submitNsBtn").hasClass('disabled')
      nameservers = []
      $(".partner-config-ns").each ->
        if $(this).eq(0).val() != ""
          nameservers.push $(this).eq(0).val()

      $.ajax(
        method: "POST"
        url: "/profile/partner_name_server"
        data:
          nameservers: nameservers
        )

      $("#cancelNsBtn").hide()
      $('#editNsBtn').show()
