$ ->
  getDomain = (domain_host) ->
    domainHostArray = domain_host.split('.')
    valid_2nd_extensions = ["com", "net", "org"]

    if $.inArray("ph", domainHostArray) > -1
      phNS = true

    for extension in valid_2nd_extensions
      if $.inArray(extension, domainHostArray) > -1
        valid_2nd_extension = true
    if valid_2nd_extension and phNS
      domain_name = domainHostArray[domainHostArray.length - 3] + "." + domainHostArray[domainHostArray.length - 2] + "." + domainHostArray[domainHostArray.length - 1]
    else
      domain_name = domainHostArray[domainHostArray.length - 2] + "." + domainHostArray[domainHostArray.length - 1]
    return domain_name

  add_form_validation = () ->
    $('input.partner-config-ns').each ->
      $(this).rules 'add', {
        validNameserver: true
      }
    $('input.partner-config-ns').each ->
      current_id = $(this).attr("id")
      $(this).rules 'add', {
        remote:
          url: "/domains/check_ns_authorization",
          data:
            domain: ->
              return getDomain($("#" + current_id).val())
            host: ->
              return $("#" + current_id).val()
      }

  validate_form = () ->
    $("#new_profile_partner_name_server_form").validate
      errorPlacement: (label, element) ->
        label.addClass('error-validator-label-simple')
        element.addClass('has-input-error')
        label.insertAfter(element)

  $.validator.addMethod 'validNameserver', ((value, element) ->
    valid_nameserver = /^(([a-zA-Z0-9-_\.]{1})|([a-zA-Z0-9-_\.]{1}[a-zA-Z0-9-_\.]{1})|([a-zA-Z0-9-_\.]{1}[0-9]{1})|([0-9]{1}[a-zA-Z0-9-_\.]{1})|([a-zA-Z0-90-9-_\.][a-zA-Z0-9-0-9-_\.]{1,61}[a-zA-Z0-9-\.]{1,61}))\.([a-zA-Z]{2,6}|[a-zA-Z0-9-]{2,30}\.[a-zA-Z]{2,3})$/
    valid_nameserver.test value.trim()
  ), 'It should be a valid Nameserver.'

  $("#cancelNsBtn").hide()
  $(".pns-error-notice").hide()
  $('#editNsBtn').click ->
    add_form_validation()
    $(this).hide()

  $("#pnsTableBody").on 'click', '#plusNSLink', ->
    array = $(".partner-config-ns").length
    row   =  "<div class='partner_ns_" + array + "_tr'>
                <div class='form-group'>
                  <div class='col-md-11'>
                    <input type='text' name='partner_ns[" + array + "]' id='partner_ns_" + array + "' placeholder='Enter Nameserver' class='form-control partner-config-ns'>
                  </div>
                  <div class='col-md-1'>
                    <a class='btn btn-default btn-sm btn-remove-partner-nameserver'>
                      <i class='fa fa-close' style='margin-top: 0px;'></i>
                      <span class='sr-only'>Delete</span>
                    </a>
                  </div>
                  <br><br>
                </div>
              </div>"

    $(".add-partner-default-ns").before(row)
    validate_form()
    add_form_validation()

  $("#pnsTableBody").on "click", "#cancelNsBtn", ->
    $("#editNsBtn").show()

  $("#pnsTableBody").on "click", ".btn-remove-partner-nameserver", ->
    thisParentClass = $(this).parent().parent().parent().prop('className')
    $('.' + thisParentClass).remove()
    return

  $("#pnsTableBody").on 'mouseenter', '#submitNsBtn', (e) ->
    validate_form()
    $("#new_profile_partner_name_server_form").valid()

  $("#pnsTableBody").on 'mouseout', '.partner-config-ns', (e) ->
    validate_form()
    $("#new_profile_partner_name_server_form").valid()

  $("#pnsTableBody").on 'click', '#submitNsBtn', (e) ->
    e.preventDefault()
    validate_form()

    if $("#new_profile_partner_name_server_form").valid()
      nameservers = []
      $(".partner-config-ns").each ->
        if $(this).eq(0).val() != ""
          nameservers.push $(this).eq(0).val()

      $.ajax(
        method: "POST"
        url: "/profile/partner_name_server"
        data:
          nameservers: nameservers
        success: ->
        )
      $('#editNsBtn').show()

  $("#pnsTableBody").on 'keypress', '#submitNsBtn', (e) ->
    e.preventDefault()

    if e.which == 13
      if $("#new_profile_partner_name_server_form").valid()
        nameservers = []
        $(".partner-config-ns").each ->
          if $(this).eq(0).val() != ""
            nameservers.push $(this).eq(0).val()

        $.ajax(
          method: "POST"
          url: "/profile/partner_name_server"
          data:
            nameservers: nameservers
          success: ->
          )
        $('#editNsBtn').show()