<% content_for :banner_title do %>
  <%= fa_icon 'book lg' %>&nbsp; Code of Conduct
<% end %>
<div>
  <h3 class="lead">dotPH Partners must:</h3>
  <ul class="coc">
    <li>Provide complete, accurate and up-to-date contact information, including postal address, telephone numbers and email addresses.</li>
    <li>Make sure that its employees and personnel are familiar with all  Partner's obligations as specified in the dotPH Partner Services  Agreement.</li>
    <li>Not portray itself as a part of the dotPH Registry, whether as a joint  venture or affiliated company in any representation to Registrants,  whether via letters, emails or claims on the Partner's website.</li>
    <li>Not perform any action that prevents any legitimate domain name registration or renewal.</li>
    <li>Not send a renewal notice for a domain name, or anything that could  reasonably be interpreted to be a renewal notice, to a Registrant or  any other person, unless:
      <ul>
        <li>the Partner sending the renewal notice is the partner-of-record; and</li>
        <li>the recipient is noted on the register as either the registrant or one of the contacts for the domain name. </li>
      </ul>
    </li>
    <li>Partners will only offer their services to registrants for whom they are not currently the Partner-of-record if:
      <ul>
        <li>it is clear that the offer is a solicitation for new business;</li>
        <li>the offer specifies that the registrant is under no obligation to  respond in any way. The offer should state that nothing will happen to  their domain name, or their rights to it, if they do not respond; </li>
        <li> the offer does not include specific domain name or related information such as expiry or renewal dates </li>
        <li>  it is clearly explained that the registrant may need to transfer  between Partners if they accept the offer, and any costs associated  with the transfer are clearly identified;</li>
        <li> the contact information for any registrant is not obtained from the dotPH WHOIS server.</li>
      </ul>
    </li>
  </ul>
</div>