<% content_for :banner_title do %>
  <%= fa_icon 'briefcase lg' %>&nbsp; Service Agreement
<% end %>

<div id="sa">
  <div id="sa-terms">
    <!--for small screen device | service terms dropdown-->
    <div id="sa-dropdown-menu">

        <button type="button" class="" data-toggle="dropdown">Terms &nbsp;<span></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#1">1. Definitions</a></li>
          <li><a href="#2">2. Development and Delivery</a></li>
          <li><a href="#3">3. Rights</a></li>
          <li><a href="#4">4. Support and Compatibility</a></li>
          <li><a href="#5">5. Obligations of the Registrar</a></li>
          <li><a href="#6">6. Marketing</a></li>
          <li><a href="#7">7. Payment Provisions</a></li>
          <li><a href="#8">8. Confidentiality</a></li>
          <li><a href="#9">9. Warranties and Representations</a></li>
          <li><a href="#10">10. Limitation of Liability</a></li>
          <li><a href="#11">11. Notification</a></li>
          <li><a href="#12">12. Non-exclusivity</a></li>
          <li><a href="#13">13. Termination</a></li>
          <li><a href="#14">14. Relationship of the Parties</a></li>
          <li><a href="#15">15. Taxes</a></li>
          <li><a href="#16">16. Governing Law</a></li>
          <li><a href="#17">17. Assignment</a></li>
          <li><a href="#18">18. Construction</a></li>
          <li><a href="#19">19. Entirety</a></li>
        </ul>
    <br><br>
    </div>
    <!--for small screen device | service terms dropdown-->
    <br>
    <p><strong>Effective July 9, 2009</strong></p>
    <p>This Agreement ("Agreement") is entered into by and between you (the  "Registrar") and its affiliates, subsidiaries and assignees and dotPH  Domains, INC. ("dotPH"), through their authorized representatives, and  takes effect on the date of execution by the final party (the  "Effective Date").</p>

    <p>Whereas, the Registrar's objective, through this Agreement, is to enhance its service offerings.</p>
    <p>Whereas, dotPH is a registry of sub-domains of the PH country code top  level domains, namely: .ph, .com.ph, .org.ph, .mil.ph and .net.ph (the  "Domain/s") and has established a Domain Registration Service (the  "Service") for accomplishing such registrations on the Internet;</p>
    <p>Whereas, by this Agreement, dotPH offers its Service to the Registrar,  including access to the dotPH Domain Server and to dotPH Confidential  Information to facilitate registration;</p>
    <p>Whereas, this Registrar service agreement ("Service Agreement" or  "Agreement") is submitted to dotPH Domains, INC.("dotPH") for the  purpose of applying for and registering sub-domains of the PH  country-code top level domain ("Domain") on the Internet. Registrar  agrees to be bound by the terms of this Service Agreement and the terms  of dotPH's Policies ("dotPH Policies") which exist now or in the future  may be published by dotPH at dotPH's web site at <a title="http://www.dot.ph" href="http://www.dot.ph">http://www.dot.ph</a>  ("dotPH's Site"). dotPH may modify this Agreement and dotPH Policies  from time to time. dotPH is responsible for publishing dotPH Policies  applicable to its Registrars on dotPH's Site. Registrar is solely  responsible for reviewing the dotPH Policies on a regular basis, as the  updated dotPH Policies are effective fifteen (15) calendar days after  the initial date of posting of such revisions or modification on  dotPH's Site. dotPH Policies, which Registrar acknowledges and  understands may be changed or modified by dotPH from time to time, are  incorporated into this Agreement by this reference. By Registrar's use  of its Registrar Account following the effective date of any revision  of dotPH Policies, Registrar agrees to be bound by such revisions to  dotPH Policies. In the event Registrar does not wish to be bound by the  updated dotPH Policies, Registrar's sole remedy is to terminate its  Registrar Account and this Agreement by following the appropriate dotPH  Policies regarding such termination.</p>
    <p>Now, Therefore, for and in consideration of the foregoing recitals, the parties have hereunto agreed as follows:</p>
    <a name="1"></a>
    <ol type="1">
      <li>
        <h5><strong>Definitions</strong></h5>
        <ol type="a">
          <li><p>"Confidential Information" means any information disclosed by  either party to the other party, either directly or indirectly, in  writing, electronically, orally or by inspection of tangible objects  and includes information relating to either party's product plans,  designs, protocols, products, know-how, processes, costs, prices,  finances, marketing plans, business opportunities, personnel, research  and development. The Registrar agrees that dotPH's databases, the  customer data collected and aggregated by dotPH through the Domain  registration process, and all dotPH processes and protocols provided by  dotPH under this Agreement are the Confidential Information of dotPH.  "Confidential Information" shall not include information that (i) is or  enters the public domain through no fault of the receiving party; (ii)  is known and has been reduced to tangible form by the receiving party  prior to the time of disclosure and is not subject to restriction;  (iii) is independently developed by the receiving party without access  to or use of the Confidential Information; or (iv) is made generally  available by the disclosing party without restriction on disclosure.</p> </li>
          <li><p> "Domain Server" shall mean the Internet domain name lookup server,  including all hardware operating system software, application software  and associated databases, or the functional equivalent, which is  maintained by dotPH exclusively for facilitating the registration and  look-up of Domains by dotPH's Registrars.</p></li>
          <li><p> "Domain Registration Service" (the "Service") shall mean dotPH's service offering to dotPH's Registrar (the Registrar).</p></li>
          <li><p>"dotPH Policies" shall refer to the policies appearing in dotPH's website, as may be modified by dotPH from time to time.</p></li>
          <li><p>"Domain" or "Domains" shall mean and include all sub-domains of the PH country code top level domain.</p></li>
        </ol>
      </li>
      <a name="2"></a>
      <li>
        <h5><strong>Development and Delivery </strong></h5>
        <ol type="a">
          <li><p>dotPH Development. dotPH shall, at dotPH's sole expense, provide  the Registrar with access to the Domain Server and certain dotPH  Confidential Information. dotPH shall also provide e-mail support to  facilitate the integration of the Service with the Registrar's service  offerings.</p></li>
          <li><p> Registrar Development. The Registrar shall, at the Registrar's  sole expense, integrate the Registrar software, website, system and/or  processes to enable access, lookups, on-line registration and general  access to dotPH's Domain Server.</p></li>
        </ol>
      </li>
      <a name="3"></a>
      <li><h5><strong>Rights</strong></h5>
        <ol type="a">
          <li><p><strong>Ownership.</strong> dotPH shall retain all right, title and interest in  and to the Domain Server, including any and all modifications to the  Domain Server, and dotPH's Confidential Information and shall not be  obligated to pay to the Registrar any royalties or other consideration  dotPH may receive for any licenses, assignments, sales, leases, or  other transfers or distribution of dotPH's Confidential Information.  The Registrar shall retain all right, title and interest in and to the  Registrar service offerings and/or modification of its software,  website systems and processes and shall not be obligated to pay to  dotPH any royalties or other consideration it may receive for any  licenses, assignments, sales, leases, or other transfers or  distribution of the Registrar software, systems and/or processes.</p></li>
          <li><p><strong>Right to Use the Domain Server.</strong> Subject to the terms and  conditions contained herein, dotPH hereby grants to the Registrar and  the Registrar accepts a non-exclusive, non-transferable, limited right  to use dotPH's Domain Server, including all improvements, enhancements,  modifications, revisions and updates thereto (whether created by dotPH,  the Registrar or any third party), and dotPH's Confidential Information  provided under this Agreement solely for the purpose of registration  through dotPH's Registrar Program and no other purpose. The Registrar  understands that this Agreement does not convey title to or ownership  of dotPH's Domain Server and dotPH's Confidential Information as  provided herein. As between dotPH and the Registrar, dotPH shall  continue to own the Domain Server and dotPH's Confidential Information,  including all trade secrets, copyrights, patents and other proprietary  rights therein and any and all modifications thereto, whether created  by dotPH, the Registrar or any third party. Other terms and conditions  concerning the use of or access to dotPH's Domain Server shall be  embodied in dotPH's Policies.</p></li>
          <li> <p><strong>Use Limitations.</strong>  The rights granted in Paragraph 3.b above is  subject to certain limits to the Registrar's use of dotPH's Domain  Server and dotPH's Confidential Information, including, without  limitation, each of the following:</p>
            <p>(A) Distribution. The Registrar agrees that it shall not, except as  expressly provided herein, sublicense, license, rent, sell, loan, give  or otherwise distribute all or any part of dotPH's Confidential  Information (as defined in 1.a above) or any derivative works based  upon dotPH's Confidential </p>
            <p>Information, to any third party, unless approved in advance and in writing by dotPH.</p>
            <p>(B) Access. The Registrar will restrict access to the Domain Server  and dotPH's Confidential Information to its employees who are required  to have access to the Domain Server or to dotPH's Confidential  Information in connection with the performance of their duties for the  Registrar in connection with this Agreement, and who are bound by  written agreements containing obligations of confidentiality and  appropriate works-for-hire language regarding the Registrar ownership  of all inventions, discoveries and copyrightable works created by such  employees.</p>
            <p>(C) Copies. The Registrar agrees that all data contained on dotPH's  Domain Server is the Confidential Information of dotPH and that, except  as provided in Paragraph 3.2 above, the Registrar shall not copy the  data contained therein, or any other Confidential Information, in whole  or in part, without the prior written consent of dotPH.</p>
            <p>(D) Proprietary Notices. The Registrar shall not alter, remove or  conceal any copyright, patent, trade secret or other  confidential/proprietary rights notices that may appear on or within  the Domain Server, related documents or dotPH's Confidential  Information.</p></li>
          <li>Attribution. During the term of this Agreement, each party  agrees to attribute to and acknowledge the other party's contribution  to this Agreement and all trademark copyrights and other ownership  rights.</li>
          <li>Exclusivity. During the term of this Agreement, the Registrar  shall not register PH country code top-level domains through any  registrar other than dotPH.</li>
        </ol>
      </li>
      <a name="4"></a>
      <li><h5><strong>Support and Compatibility</strong></h5>
        <ol type="a">
          <li><p><strong>Support.</strong> The Registrar shall provide its customers with end-user  support for the registration of Domains at the Registrar's sole  expense. For the term of this agreement, dotPH shall provide, at no  cost to the Registrar, operational support to the Registrar for  problems determined to be outside of and beyond the Registrar  registration process and determined to be attributable to dotPH ?s  Domain Server. </p></li>
          <li><p><strong>Compatibility.</strong> dotPH further agrees to notify the Registrar of  any change to the Domain Server that affects integration with the  Registrar's website. </p></li>
        </ol>
      </li>
      <a name="5"></a>
      <li><h5><strong>Obligations of the Registrar</strong></h5>
        <p>Registrars must:</p>
        <ol type="a">
          <li><p>Provide complete, accurate and up-to-date contact information,  including postal address, telephone numbers and email addresses. It is  the Registrar's responsibility to ensure that this information is  current at all times.</p></li>
          <li><p>Ensure that its employees, affiliates, and personnel offering  domain name service are trained on and informed of all Registrar?s  obligations as specified in the Registry-Registrar Agreement.</p></li>
          <li><p>Clearly identify their company as a dotPH Registrar by displaying the 'dotPH Accredited Registrar' logo on their site. </p></li>
          <li><p>Not portray itself as a part of the dotPH Registry, as a joint  venture or an affiliated company of dotPH in any representation to  Registrants, whether via letters, emails or claims on the Registrar's  website.</p></li>
          <li><p>Not perform any action that prevents any legitimate domain name registration or renewal.</p></li>
          <li><p>Not send a renewal notice for a domain name, or anything that  could reasonably be construed to be a renewal notice, to a registrant  or any other person, unless both:</p>
            <p>&bull; the Registrar sending the renewal notice is the registrar-of-record; and<br>
              &bull; the recipient is noted on the register as either the registrant or one of the contacts for the domain name.
            </p>
          </li>
          <li>
            <p>Not make an offer to a registrant for whom they are not  currently the registrar-of-record or to any person, for domain name  services unless:</p>
            <p>&bull; the offer does not include specific domain name or related  information such as expiry or renewal dates and it is clear that the  offer is a solicitation for new business;<br>&bull; the offer includes a statement that the registrant is under no  obligation to respond in any way. The offer should specify that a  registrant can choose to continue to manage their domain name  registration through the registrant?s current Registrar and that  nothing will happen to their domain name, or their rights to it, if  they do not respond;<br> &bull; it is clearly explained that any registrant may be required to  transfer between Registrars if they accept the offer. Any costs  associated with the transfer need to be clearly identified;<br>&bull; the contact information for any registrant is not obtained from the dotPH WHOIS server or dotPH's Confidential Information.</p>
          </li>
          <li>
            <p>Failure to abide by the terms of this Section may result in  suspension or termination of the Registrar's account, at the sole  discretion of dotPH.</p>
          </li>
        </ol>
      </li>
      <a name="6"></a>
      <li><h5><strong>Marketing</strong></h5>
        <ol type="a">
          <li><p>Press Release. The parties agree to cooperate with each other in a joint press release following the execution of this Agreement. Both parties shall agree upon the content, timing and necessity of all such press releases.</p></li>
          <li><p>Use of dotPH Logo. For the term of this Agreement, dotPH hereby  grants to the Registrar and the Registrar accepts a limited,  non-exclusive, non-transferable right to use and display, on its web  site wherein it offers its web hosting, web design or related services,  the dotPH logo designated by dotPH, for the sole purpose of identifying  it as a member of dotPH's Registrar Program. dotPH will provide the  Registrar with electronic versions of the dotPH logo and trademark for  the Registrar's use. All representations of the dotPH logo and  trademark that the Registrar uses will be exact copies of those  provided by dotPH. dotPH reserves the right to designate or change the  dotPH logo and the Registrar's compliance with this provision shall  commence upon receipt of notice from dotPH.</p></li>
        </ol>
      </li>
      <a name="7"></a>
      <li><h5><strong>Payment Provisions</strong></h5>
        <p>Effectivity of Registration. Unless otherwise provided herein or in  dotPH's policies, the registration of Domains shall be effective upon  registration of Registrar through the Registrar login. In the event the  Registrar fails to pay for domains registered on the agreed period of  time, the names will be terminated and be made available again.
        </p>
      </li>
      <a name="8"></a>
      <li><h5><strong>Confidentiality</strong></h5>
        <ol type="a">
          <li><p>Non-disclosure. Each party shall protect the other party's  Confidential Information from unauthorized dissemination and use, with  the same degree of care that such party uses to protect its own like  information, but in no event less than reasonable care. Neither party  will use the other party's Confidential Information for purposes other  than those necessary to directly further the purposes of this  Agreement. Neither party will disclose to third parties the other  party's Confidential Information without the prior written consent of  the other party. The Registrar further agrees not to use dotPH's  Confidential Information in connection with the operation of a  registrar or registry of Domains. Except as expressly provided in this  Agreement, no license or other rights are granted in any Confidential  Information received by a party under this Agreement. Both parties  acknowledge that the restrictions relating to Confidential Information  contained in this Agreement are reasonable and necessary to protect  their legitimate interests and that violation of these restrictions  will cause irreparable damage to the other party and each party agrees  that the other party will be entitled to injunctive relief against each  violation.</p></li>
          <li><p>Development Rights. The parties' obligations of confidentiality  under this Agreement shall not be construed to limit either party's  right to independently develop or acquire products without the use of  the other party's Confidential Information.</p></li>
        </ol>
      </li>
      <a name="9"></a>
      <li>
        <h5><strong>Warranties and Representations</strong></h5>
        <ol type="a">
          <li><p>The Registrar. The Registrar hereby warrants and represents that  (i) it has all requisite corporate power and corporate authority to  execute, deliver and perform its obligations under this Agreement; (ii)  the execution, performance and delivery of this Agreement has been duly  authorized by the Registrar; and (iii) no approval, authorization,  registration, filing, consent or other action of any governmental,  quasi-governmental or regulatory authority in the Registrar's country  is required or necessary to be obtained, taken or made by the Registrar  or dotPH in order for either of the parties to enter into and perform  its obligations under this Agreement or for this Agreement to be fully  valid and enforceable against the Registrar and dotPH according to the  terms and conditions set forth herein.</p></li>
          <li><p>dotPH. dotPH hereby warrants and represents that (i) it has all  requisite corporate power and corporate authority to execute, deliver  and perform its obligations under this Agreement; (ii) the execution,  performance and delivery of this Agreement has been duly authorized by  dotPH; and (iii) no approval, authorization or consent of any  governmental authority in the Philippines is required to be obtained or  made by dotPH in order for it to enter into and perform its obligations  under this Agreement.</p></li>
        </ol>
      </li>
      <a name="10"></a>

      <li>
        <h5><strong>Limtation of Liability</strong></h5>
        <p>NEITHER PARTY SHALL BE LIABLE FOR ANY INDIRECT, INCIDENTAL,  CONSEQUENTIAL, PUNITIVE OR SPECIAL DAMAGES, EVEN IF SUCH PARTY HAS BEEN  ADVISED OF THE POSSIBILITY OF SUCH DAMAGES ARISING FROM THIS AGREEMENT,  SUCH AS, BUT NOT LIMITED TO, LOSS OF REVENUE OR ANTICIPATED PROFITS OR  LOST BUSINESS, LOSS OF DATA, OR USE OF EQUIPMENT.</p>
      </li>

      <a name="11"></a>
      <li>
        <h5><strong>Notification</strong></h5>
        <p>Notices. All notices and requests in connection with this Agreement  shall be deemed given as of the day they are received either by fax,  email, messenger, delivery service, or mail, postage prepaid, certified  or registered, return receipt requested, and addressed as follows:</p>

        <p>To dotPH: dotPH, Inc.<br>  Attention: Jose Emmanuel Disini<br>  Email Address: <a href="mailto:partners@dot.ph">partners@dot.ph</a><br>  Phone: (632) 637-2104/05<br>  Fax: (632) 632-7319<br>  Copy to: General Counsel<br>  Fax: (632) 722-2167</p>

        <p>To the Registrar:<br>  Attention:<br>  Email Address:<br>  Phone:<br>  Fax:<br>  Copy to:<br>  Fax:  </p>
      </li>

      <a name="12"></a>
      <li><h5><strong>Non-Exclusivity</strong></h5>
        <ol type="a">
          <li><p>Non-exclusivity. Except as otherwise provided herein, the  parties agree and hereby acknowledge that no promises or understandings  of exclusivity have been made to induce either party to execute this  Agreement. The Registrar may contract with, and apply the Registrar  software, website, systems and/or processes to other Internet  registries or registrars. dotPH may contract with and apply the Domain  Registration Service and dotPH's Confidential Information to other  Internet and On-Line Service Providers. </p></li>
          <li><p>Preference. the Registrar hereby agrees that dotPH's Service  and associated linkages, pointers and references used by the Registrar  for registration of Domains will appear in the same or equally  prominent position as the registry or registrar of other country code  TLD or other global TLDs in all the Registrar products and services  which offer access to domain name registration services for the  Internet. In addition, the Registrar shall place the dotPH logo in its  home page and shall maintain an active hyperlink to the dotPH official  website. </p></li>
        </ol>
      </li>

      <a name="13"></a>
      <li>
        <h5><strong>Termination</strong></h5>
        <ol type="a">
          <li><p>Term. The term of this Agreement shall commence as of the date on  which this Agreement is electronically signed and submitted to dotPH  and shall continue for a period of three (3) years or until terminated  as provided in this Section.</p></li>
          <li><p>Termination For Cause. Either party may suspend performance and/or  terminate this Agreement immediately upon written notice at any time if:</p>
            <ol type="i">
              <li><p>the other party is in material breach of any material warranty,  term, condition or covenant of this Agreement, other than those  contained in Section 8, and fails to cure that breach within thirty  (30) days after written notice thereof; or</p></li>
              <li><p> the other party is in material breach of Section 8.</p></li>
            </ol>
          </li>
          <li><p>Termination For Convenience. Either party may terminate this  Agreement at any time, without cause, upon thirty (30) days' prior  written notice to the other party.</p></li>
          <li><p>Effect of Termination. In the event of termination of this  Agreement for any reason, Sections 8, 9, 10, 11, 16, 17, and 18 shall  survive. Neither party shall be liable to other for damages of any sort  resulting solely from terminating this Agreement in accordance with its  terms.</p></li>
        </ol>
      </li>

      <a name="14"></a>
      <li>
        <h5><strong>Relationship of the Parties</strong></h5>
        <p>  Nothing in this Agreement shall be construed as creating an  employer-employee relationship, a partnership, or a joint venture  between the parties.</p>
      </li>

      <a name="15"></a>
      <li>
        <h5><strong>Taxes</strong></h5>
        <p>  Nothing in this Agreement shall be construed as creating an  employer-employee relationship, a partnership, or a joint venture  between the parties.</p>
      </li>

      <a name="16"></a>
      <li>
        <h5><strong>Governing Law</strong></h5>
        <p>This Agreement shall be governed by the laws of the Philippines as  though entered into between Philippine residents and to be performed  entirely within the Philippines and both the Registrar and dotPH  consent to jurisdiction and venue in the courts of Pasig City,  Philippines.</p>
      </li>

      <a name="17"></a>
      <li>
        <h5><strong>Assignment</strong></h5>
        <p> Neither party may assign this Agreement without the prior approval of  the other party, which approval shall not be unreasonably withheld.  This Agreement shall be binding upon and inure the benefit of each  party's respective successors and lawful assignees.</p>
      </li>

      <a name="18"></a>
      <li>
        <h5><strong>Entirety</strong></h5>
        <p>If for any reason a court of competent jurisdiction finds any provision  of this Agreement, or portion thereof, to be unenforceable, that  provision of the Agreement will be enforced to the maximum extent  permissible so as to effect the intent of the parties, and the  remainder of this Agreement will continue in full force and effect.  Failure by either party to enforce any provision of this Agreement will  not be deemed a waiver of future enforcement of that or any other  provision. This Agreement has been negotiated by the parties and their  respective counsel and will be interpreted fairly in accordance with  its terms and without any strict construction in favor of or against  either party.</p>
      </li>

      <a name="19"></a>
      <li>
        <h5><strong>Construction</strong></h5>
        <p>This Agreement shall not be effective until signed by both parties.  This Agreement, ALONG WITH THE ATTACHED DOTPH RESELLER INFORMATION  POLICY INCLUDING ANY AMENDMENTS OR MODIFICATIONS THAT MAY LATER BE MADE  THERETO, PROVIDED THE SAME ARE PUBLISHED AND POSTED ON THE DOTPH  WEBSITE at <a title="http://www.dot.ph" href="http://www.dot.ph">http://www.dot.ph</a>  ("dotPH's Site") PURSUANT TO SEC. 1 OF THE SAID DOTPH RESELLER  INFORMATION POLICY, constitutes the entire agreement between parties  with respect to the services and all other subject matter hereof and  supersedes all prior and contemporaneous communications.</p>
        <p>IN WITNESS WHEREOF, the parties have entered into this Agreement.</p>
      </li><a href="sa.php">Back to Top</a>
    </ol>


  </div>
  <div id="sa-list">
    <div class="rsa">
      <a href="#1">1. Definitions</a><br>
      <a href="#2">2. Development and Delivery</a><br>
      <a href="#3">3. Rights</a><br>
      <a href="#4">4. Support and Compatibility</a><br>
      <a href="#5">5. Obligations of the Registrar</a><br>
      <a href="#6">6. Marketing</a><br>
      <a href="#7">7. Payment Provisions</a><br>
      <a href="#8">8. Confidentiality</a><br>
      <a href="#9">9. Warranties and Representations</a><br>
      <a href="#10">10. Limitation of Liability</a><br>
      <a href="#11">11. Notification</a><br>
      <a href="#12">12. Non-exclusivity</a><br>
      <a href="#13">13. Termination</a><br>
      <a href="#14">14. Relationship of the Parties</a><br>
      <a href="#15">15. Taxes</a><br>
      <a href="#16">16. Governing Law</a><br>
      <a href="#17">17. Assignment</a><br>
      <a href="#18">18. Construction</a><br>
      <a href="#19">19. Entirety</a><br>
    </div>
  </div>
  <span class="clearfix"></span>
</div>
