.page-header {
  padding-bottom: 9px;
  margin: 0;
  border-bottom: none;
}

#domain_list_search {
  @extend .form-inline;
  @extend .col-sm-12;
  @extend .pull-right;
  @extend .text-right;
}

#domain_list_search > div {
  @extend .input-group;
}

#domain_list_search > div > div {
  @extend .input-group-btn;
}

#find-domain {
  @extend .input-group;

  border: 1px solid #CACACA;
  border-radius: 4px;

  input {
    @extend .form-control;

    border: none !important;
  }

  span {
    @extend .input-group-btn;

    button {
      @extend .btn;
      @extend .btn-link;
    }
  }
}


/* Domain Info Tab
------------------*/
#MyDomains {
  @extend .container;

  h3 {
    color: #47A2D6;
    margin-bottom: 5px;

    strong {
      /*border-right: 2px solid #337ab7;*/
      padding-right: 10px;
    }
  }
}

@media (max-width: 500px) {
}

#tab-list {
  @extend .nav, .nav-tabs;
}

.tab-content {
  @extend .panel, .panel-body;
  background-color: #FFF !important;
  border-color: #CCC;
  border-width: 1px;
  margin-top: -15px;

  div {
    @extend .tab-pane;

    section a {
      @extend .btn, .btn-default;
    }
  }
}

#domain-info > div, #admin-info > div, #tech-info > div, #billing-info > div {
  @extend .form-group;
  @extend .clearfix;
  @extend .row;

  label {
    @extend .control-label;
    @extend .col-xs-12;
    @extend .col-sm-4;
    @extend .col-md-3;
    @extend .clearfix;

    padding-top: 0;

    span{
      padding-left: 17px;
    }
  }

  > div.inputfield {
    @extend .col-xs-12;
    @extend .col-sm-8;
    @extend .col-md-8;
    color: #47A2D6;

    > div.contact-cat, > div:nth-child(3) {
      @extend .text-muted;
      @extend .small;
      @extend .row;
      @extend .visible-xs;
    }

    >div:nth-child(2){ /*international*/
      @extend .col-lg-7;
      @extend .col-xs-12;
      @extend .col-md-7;
      @extend .row;

      select {
        @extend .col-lg-7;
        @extend .col-md-7;
        border-radius: 1px;
        border: 1px solid #ccc;
      }
    }

   div:last-child { /*local*/
      @extend .col-lg-5;
      @extend .col-xs-12;
      @extend .col-md-5;
      @extend .row;
      select {
        @extend .col-lg-10;
        @extend .col-md-10;
        border-radius: 1px;
        border: 1px solid #ccc;
      }
    }

  }
}

.inputfield > div.field_with_errors {
  display: inline-block;
}

.info-l10n {
  @extend .hidden-xs;
  label {
    @extend .col-lg-3;
    @extend .col-md-3;
    @extend .clearfix;
  }
  div{ /*international*/
    @extend .col-lg-4;
    @extend .col-md-4;
  }
  div:last-child{ /*local*/
    margin-left:0;
  }
}

.nav#domain-info-tab {
margin-top: 20px;
margin-bottom: 20px;
border-bottom: none;
}

.nav-tabs#domain-info-tab li {
border-right: none !important;
border-left: none !important;
margin: 0 15px;
border-bottom: 3px solid transparent;
}

.nav-tabs#domain-info-tab li.active a {
color: #47a2d6;
}

.nav-tabs#domain-info-tab li.active {
border-bottom: 3px solid #47a2d6;
}

.nav-tabs#domain-info-tab li a {
margin: 10px 0px 5px;
border: none !important;
padding: 0;
height: 25px;
color: #666;
}
.nav-tabs#domain-info-tab li a:hover {
background-color: transparent;
color: #47a2d6;
}

#domain-info-tab-content {
border: none;

}


#nameservers, #info, #domain_activity {
  h5 {
    @extend .text-primary;
  }
}

#domain_activity {
  div {
    @extend .table-responsive;
  }
}

.dm.nav-tabs {
  border-bottom: 1px solid #CCC;
}

.dm.nav-tabs > li.active > a, .dm.nav-tabs > li.active > a:hover, .dm.nav-tabs > li.active > a:focus {
  background: none repeat scroll 0px 0px #EB9000;
  color: #fff;
  border: 0px none;
}

.dm.nav > li, .dm.nav-tabs > li {
  float: none;
  display: inline-block;
  border-color: #fff;
}

.dm.nav li a {
  border-radius: none;
  height: 40px;
  line-height: 20px !important;
  padding-left: 30px;
  padding-right: 30px;
}

.dm.nav-tabs {
  border-bottom: 0;
  text-align: center;
}

.dm.nav-tabs > li > a {
  background-color: #eaeaea;
  color: #555;
  border-top: 0;
  border-left: 0!important;
  margin: 0;
  border-radius: 0;
}

.dm.nav > li > a:hover, .dm.nav-tabs > li > a:hover {
  background-color: #EB9000;
  color: #fff !important;
  border-top: none;
}

.dm.nav li {
  cursor: pointer;
  margin-right: -5px;
}

.dm.nav-tabs > li:first-child > a {
  border-radius: 4px 0  0 4px;
}

.dm.nav-tabs > li:last-child > a {
  border-radius: 0 4px 4px 0;
}

.dm.nav li:last-child {
  border-right: 0;
}

.dm.nav li:first-child {
  border-left: 0;
}


#domain-info {
    background-color: rgba(71, 162, 214, 0.13);
    padding: 20px;
}

.edit-update input[type="submit"] {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-success;
}


#create-dom-host {
    background-color: #EAEAEA;
    padding: 10px;
    display: inline-block;
    width: 50%;

    input[type="text"] {
      @extend .form-control;
      @extend .transition;
      width: 60%;
      display: inline;
      box-shadow: none !important;
    }

    input[type="text"]:focus {
      @extend .transition;
      border-color: orange;
      outline: none;
    }

    input[type="submit"] {
      @extend .btn;
      @extend .btn-secondary;
      @extend .transition;
      width: 38%;
      display: inline;
    }

    form {
      @extend .form-group;
      margin-bottom: 0 !important;
    }
}

@media (max-width: 990px) {
  #create-dom-host {
    width: 100%;
  }
}

@media (max-width: 530px) {
  #domain-info > div > div.inputfield > div.contact-cat{
    margin-left: 0px;
    margin-left: 0px;
    clear: left;
  }
  #create-dom-host {
    input[type="text"] {
      width: 100%;
      margin-bottom: 10px;
      display:block;
    }

    input[type="submit"] {
      width: 100%;
      display: block;
    }

  }
}

ul.alert li { margin-left: 15px;}
input#contact_handle {@extend .text-primary;}