.page-header {
  padding-bottom: 9px;
  margin: 0;
  border-bottom: none;
}

#domain_list_search {
  @extend .form-inline;
  @extend .col-sm-12;
  @extend .pull-right;
  @extend .text-right;
}

#domain_list_search > div {
  @extend .input-group;
}

#domain_list_search > div > div {
  @extend .input-group-btn;
}

#find-domain {
  @extend .input-group;

  border: 1px solid #CACACA;
  border-radius: 4px;

  input {
    @extend .form-control;

    border: none !important;
  }

  span {
    @extend .input-group-btn;

    button {
      @extend .btn;
      @extend .btn-link;
    }
  }
}


/* Domain Info Tab
------------------*/
#MyDomains {
  @extend .container;

  h3 {
    color: #47A2D6;
    margin-bottom: 5px;

    strong {
      /*border-right: 2px solid #337ab7;*/
      padding-right: 10px;
    }
  }
}

@media (max-width: 500px) {
}

#tab-list {
  @extend .nav, .nav-tabs;
}

.tab-content {
  @extend .panel, .panel-body;
  background-color: #FFF !important;
  border-color: #CCC;
  border-width: 1px;
  margin-top: -15px;

  div {
    @extend .tab-pane;

    section a {
      @extend .btn, .btn-default;
    }
  }

}

.domain-info-num {
  .inputfield {
    div {
      @extend .col-sm-5;
    }
    span {
      @extend .col-sm-1;
      @extend .control-label;
    }
    div:nth-child(3) {
      @extend .col-sm-2;
    }

    p {
      @extend .form-control-static;
    }

  }
  .help-block {
      display: none;
  }
  label {
      @extend .col-sm-1;
    }
}


.info-l10n {
  @extend .hidden-xs;
  @extend .row;
  margin-bottom: 10px;

  label {
    @extend .col-sm-4;
    @extend .col-md-2;
    @extend .control-label;
    /*@extend .clearfix;*/
  }
  div{ /*international*/
    @extend .col-md-5;
    @extend .col-sm-4;
    padding-left: 40px;
  }
  div:last-child{ /*local*/
    margin-left:5px;
    @extend .col-md-4;
    @extend .col-sm-4;
  }
}

#domain-info input, #domain-info select {
  box-shadow: none !important;
  border-color: rgba(71, 162, 214, 0);
}

#domain-info input:focus, #domain-info select:focus  {
  border-color: rgba(255, 165, 0, 0.37);
  outline: none !important;
}



#domain-info > div:not(:first-child), #admin-info > div, #tech-info > div, #billing-info > div {
  @extend .form-group;
  @extend .clearfix;
  @extend .row;

  label {
    @extend .control-label;
    @extend .col-xs-12;
    @extend .col-sm-3;
    @extend .col-md-2;

    padding-top: 0;

    span{
      padding-left: 17px;
    }
  }

  > div.inputfield {
    @extend .col-xs-12;
    @extend .col-sm-9;
    @extend .col-md-10;
    color: #47A2D6;

    input {
      @extend .form-control;
      *width: 50%;
    }

    > div.contact-cat {
      @extend .text-muted;
      @extend .small;
      @extend .visible-xs;
    }

    >div:nth-child(2){ /*international*/
      @extend .col-lg-6;
      @extend .col-md-6;
      @extend .col-sm-6;
      @extend .col-xs-12;


      select {
        @extend .form-control;
        @extend .col-lg-7;
        @extend .col-md-7;
        border-radius: 1px;
        border: 1px solid #ccc;
      }

      input {
        @extend .form-control;
      }
    }

   div:nth-child(4) { /*local*/
      @extend .col-lg-6;
      @extend .col-md-6;
      @extend .col-sm-6;
      @extend .col-xs-12;

      select {
        @extend .form-control;
        @extend .col-lg-10;
        @extend .col-md-10;
        border-radius: 1px;
        border: 1px solid #ccc;
      }
      input {
        @extend .form-control;
      }
    }

  }
}

.inputfield > div.field_with_errors {
  display: inline-block;
}

.info-static {

  div > div > div:nth-child(2), div > div > div:nth-child(4){
  @extend .form-control-static;
  }
}



.nav#domain-info-tab {
margin-top: 20px;
margin-bottom: 20px;
border-bottom: none;
}

.nav-tabs#domain-info-tab li {
border-right: none !important;
border-left: none !important;
margin: 0 15px;
border-bottom: 3px solid transparent;
}

.nav-tabs#domain-info-tab li.active a {
color: #47a2d6;
}

.nav-tabs#domain-info-tab li.active {
border-bottom: 3px solid #47a2d6;
}

.nav-tabs#domain-info-tab li a {
margin: 10px 0px 5px;
border: none !important;
padding: 0;
height: 25px;
color: #666;
}
.nav-tabs#domain-info-tab li a:hover {
background-color: transparent;
color: #47a2d6;
}

#domain-info-tab-content {
border: none;

}


#nameservers, #info, #domain_activity {
  h5 {
    @extend .text-primary;
  }
}

#domain_activity {
  div {
    @extend .table-responsive;
  }
}

.dm.nav-tabs {
  border-bottom: 1px solid #CCC;
}

.dm.nav-tabs > li.active > a, .dm.nav-tabs > li.active > a:hover, .dm.nav-tabs > li.active > a:focus {
  background: none repeat scroll 0px 0px #EB9000;
  color: #fff;
  border: 0px none;
}

.dm.nav > li, .dm.nav-tabs > li {
  float: none;
  display: inline-block;
  border-color: #fff;
}

.dm.nav li a {
  border-radius: none;
  height: 40px;
  line-height: 20px !important;
  padding-left: 30px;
  padding-right: 30px;
}

.dm.nav-tabs {
  border-bottom: 0;
  text-align: center;
}

.dm.nav-tabs > li > a {
  background-color: #eaeaea;
  color: #555;
  border-top: 0;
  border-left: 0!important;
  margin: 0;
  border-radius: 0;
}

.dm.nav > li > a:hover, .dm.nav-tabs > li > a:hover {
  background-color: #EB9000;
  color: #fff !important;
  border-top: none;
}

.dm.nav li {
  cursor: pointer;
  margin-right: -5px;
}

.dm.nav-tabs > li:first-child > a {
  border-radius: 4px 0  0 4px;
}

.dm.nav-tabs > li:last-child > a {
  border-radius: 0 4px 4px 0;
}

.dm.nav li:last-child {
  border-right: 0;
}

.dm.nav li:first-child {
  border-left: 0;
}


#domain-info {
  @extend .form-horizontal;
  background-color: #E3EBEF;
  padding: 20px;
}

.edit-update input[type="submit"] {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-success;
}

.edit-update {
    margin-bottom: 10px;
}

#create-dom-host {
    background-color: #EAEAEA;
    padding: 10px;
    display: inline-block;
    width: 50%;

    input[type="text"] {
      @extend .form-control;
      @extend .transition;
      width: 60%;
      display: inline;
      box-shadow: none !important;
    }

    input[type="text"]:focus {
      @extend .transition;
      border-color: orange;
      outline: none;
    }

    input[type="submit"] {
      @extend .btn;
      @extend .btn-secondary;
      @extend .transition;
      width: 38%;
      display: inline;
    }

    form {
      @extend .form-group;
      margin-bottom: 0 !important;
    }
}

@media (max-width: 990px) {
  #create-dom-host {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .pinfo-form-group > div label span {
    padding-left: 0px;
}
  #domain-info > div > div.inputfield > div.contact-cat{
    margin-left: 15px;
    clear: left;
  }
  #create-dom-host {
    input[type="text"] {
      width: 100%;
      margin-bottom: 10px;
      display:block;
    }

    input[type="submit"] {
      width: 100%;
      display: block;
    }

  }

.contact-info-wrapper .title {
  text-align: left!important;
  padding-bottom: 15px!important;
}
}

ul.alert li { margin-left: 15px;}
input#contact_handle {@extend .text-primary;}

@media (min-width: 768px){
.form-horizontal .control-label {
    padding-top: 7px !important;
    margin-bottom: 0;
    text-align: left !important;
}

.contact-info-wrapper .title {
  text-align: left!important;
  padding-bottom: 15px!important;
}
}
#domain-info .form-group {margin-left: 0 !important;}

#new-info {
  @extend .form-horizontal;
  background-color: #E3EBEF;
  padding: 20px;
}
#new-info .form-group {margin-left: 0 !important;margin-right: 0;}

#new-info input, #new-info select {
  box-shadow: none !important;
}

#new-info input:focus, #new-info select:focus  {
  border-color: rgba(255, 165, 0, 0.37);
  outline: none !important;
}

#new-info .domain-info-num .inputfield div {padding-left: 0;}

#new-info .form-group {margin-bottom: 0px;}

#new-info > div:not(:first-child){
  @extend .form-group;
  @extend .clearfix;
  @extend .row;
  margin-bottom: 8px!important;

  label {
    @extend .control-label;
    @extend .col-xs-12;
    @extend .col-sm-3;
    @extend .col-md-3;
    padding-top: 0;

    span{
      padding-left: 17px;
    }
  }

  > div.inputfield {
    @extend .col-xs-12;
    @extend .col-sm-9;
    @extend .col-md-9;
    color: #47A2D6;

    input {
      @extend .form-control;
      *width: 50%;
    }

    > div.contact-cat {
      @extend .text-muted;
      @extend .small;
      @extend .visible-xs;
    }

    >div:nth-child(2){ /*international*/
      @extend .col-lg-6;
      @extend .col-md-6;
      @extend .col-sm-6;
      @extend .col-xs-12;


      select {
        @extend .form-control;
        @extend .col-lg-7;
        @extend .col-md-7;
        border-radius: 1px;
        border: 1px solid #ccc;
      }

      input {
        @extend .form-control;
      }
    }

   div:nth-child(4) { /*local*/
      @extend .col-lg-6;
      @extend .col-md-6;
      @extend .col-sm-6;
      @extend .col-xs-12;

      select {
        @extend .form-control;
        @extend .col-lg-10;
        @extend .col-md-10;
        border-radius: 1px;
        border: 1px solid #ccc;
      }
      input {
        @extend .form-control;
      }
    }

  }
}

.in.collapse+a.btn-link.showdetails:before
{
    content:'Hide details...';
    font-size: smaller;
}
.collapse+a.btn-link.showdetails:before
{
    content:'View more...';
    font-size: smaller;
}
.contact-info-wrapper {
  @extend .clearfix;
  padding: 20px;
  min-height: 100px;
}
.contact-info-wrapper .title{
  @extend .col-lg-3;
  margin-top: 20px;
  text-align: right;
  font-size: larger;
  color: #111;
  padding-right:100px;
}
.contact-info {
  @extend .col-lg-8;
  line-height: 24px;
  p{margin:17px  0 0 0;}
}

.contact-info-wrapper .button {
  @extend .col-lg-1;
  margin-top: 0.5em;
}
.contact-info ul li {line-height: 30px;}
.contact-info ul {margin-bottom: 0!important;}
.contact-info table thead{
  background-color: #eee !important;
  font-weight: normal;
  color: inherit;
  }
 .contact-info table > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9 !important;
    padding-left: 0;
}
.contact-info table tr td:first-child,
.contact-info table tr th:first-child,
.contact-info table tr td,
.contact-info table tr th {padding-left: 5!important; font-weight: 100!important}
.contact-info a.btn-link {font-size:15px;}
.pull-right {margin-top: 10px;}

@media (max-width: 768px) {
  .contact-info-wrapper {
    .title {
      text-align: left;
    }

  }
}

.dom-status-icon {
  display: inline-block;
  padding: 3px 6px 1px;
  border: 1px solid #CECECE;
  border-radius: 15px;
  margin: 5px 0 8px;
  i {
    cursor: pointer;
  }

  .glyphicon {
    font-size: 12px;
    font-weight: bold;
  }
}

#MyDomains{
hr.line{
    border-top: 2px solid #e5e5e5;
  }
}
ul li a {color: #636363 !important}