.transition {
  transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.navbar {
  box-shadow: 0px -17px 65px rgba(0, 0, 0, 0.63);
}

.navbar-default {
  background-color: #fff;
}

.navbar-brand {
  height: 60px;
  padding: 10px 20px !important;
}

.navbar-brand img {
  float: left;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #636363 !important;
}

#navbar {
  @extend .navbar;
  @extend .navbar-default;
  margin-bottom: 50px !important;
  box-shadow: 0px -7px 20px rgba(0, 0, 0, 0.5) !important;
  border: none !important;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

#navbar > div {
  @extend .container;
}

#navbar > div > div {
  @extend .navbar-header;

  button {
    @extend .navbar-toggle;

    span {
      @extend .icon-bar;
    }
  }

  a {
    @extend .navbar-brand;
  }
}

nav {
  ul {
    @extend .nav;
    @extend .navbar-nav;
  }

  .dropdown {
    a {
      @extend .dropdown-toggle;
      font-weight: 300 !important;

      span {
        @extend .caret;
      }
    }
  }
}

ul.nav li a i {
  font-size: 25px;
}

li#current_balance {
  line-height: 18px;
  padding: 8px 20px;
  font-weight: 500;
  text-align: right;
  
  span {
    font-size: 12px;
    font-weight: 300;
  }
}

a.navbar-brand span {
  margin: 10px;
  line-height: 35px;
  font-size: 20px;
  color: #0D73A0;
}

ul.nav li {
  cursor: pointer;
  border-left: 1px solid #DFDFDF;
}

ul.nav li:last-child {
  border-right: 1px solid #DFDFDF;
}

ul.nav li a {
  @extend .transition;
  height: 60px;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 5px solid transparent;
}

nav ul.nav li a:hover,nav ul.nav li a.active,nav ul.nav li.active a {
  @extend .transition;
  border-top: 5px solid #47A2D6;
  color: #47A2D6 !important;
  font-weight: 300;
  background-color: #fff !important;
}

ul.dropdown-menu li {
  border-left: none !important;
}

ul.dropdown-menu li a {
  height: initial;
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: none;
}

ul.dropdown-menu li a:hover {
  border-top: none;
}

ul.dropdown-menu li:last-child {
  border-right: none;
}

p.username_container {
  margin-bottom: 0;
}

p.username_container a {
  color: #fff;
}

p.username_container {
  margin-bottom: 10px;
}

button.add-credits {
  float: right;
  margin-top: -17px;
}

@media (max-width: 768px) {
  .navbar-toggle {
    margin-top: 13px !important;
    margin-bottom: 13px !important;
  }

  ul.nav li {
    border-left: none;
    cursor: pointer;
  }

  ul.nav li:last-child {
    border-right: none;
  }

  ul.nav li a {
    height: inherit;
    line-height: normal;
    padding-left: 10px;
    padding-right: 10px;
    border-top: none;
  }

  ul.nav li a:hover, ul.nav li a.active {
    border-top: none;
    color: #47A2D6 !important;
    font-weight: 500;
  }
}

#banner-title {
  @extend .row;
  margin-bottom: 30px;
  margin-top: 60px;
  background-color: #47A2D6;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  color: #fff;
  background-image: image-url("grain.png");

  div {
    @extend .container;

    margin: 0 auto;

    div:first-child {
      @extend .col-sm-5;
    }

    div:nth-child(2) {
      @extend .col-sm-7;
      @extend .text-right;

      a {
        @extend .btn;
        @extend .btn-secondary;
        margin-top: 16px;
      }
    }
  }

  h3 {
    cursor: default !important;
  }

  #domains-total {
    cursor: pointer !important;
  }

  span {
    @extend .badge;
    font-weight: 500 !important;
    font-size: 17px;
    vertical-align: middle;
    background-color: #277AA9;
    padding: 6px 10px;
  }
}

@media (max-width: 768px) {
  #banner-title {
    div {
      div:nth-child(2) {
        text-align: center;
      }
      h2 {text-align: center; font-size: 25px;}
    }
  }

  nav ul.nav li a:hover, nav ul.nav li a.active, nav ul.nav li.active a{
    background-color: #47A2D6 !important;
    color: #fff !important;
    border-top: none !important;
    font-weight: 500 !important;
  }

  #login > div:first-child h3 {
    text-align: center;
    margin-bottom: 25px;
  }

  #banner-container div ul {
  width: auto!important;
  text-align: center;
  }

  #alert {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-tabs#domain-info-tab li{
    width: 80%;
    text-align: center;
  }
}


.animate {
    transition: all 0.3s ease-in-out 0s;
}

.search-box {
    background-color: transparent;
    border-top: 1px solid #DFDFDF;
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    transform: rotateX(-90deg);
    transform-origin: 0px 0px 0px;
    visibility: hidden;
}

.search-box > .container {
    padding: 0px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-btn {
    position: relative;
    font-size: 0px;
    white-space: nowrap;
}

form.search-bar {
  padding: 7px 12px 3px;
  position: relative;
  display: block;
  border: none;
  margin-left: 0px;
  margin-right: 0px;
}

form.search-bar input.form-control {
  @extend .transition;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  padding-right: 27px;
  line-height: 1.7;
}


form.search-bar input.form-control:focus {
  border-color: rgba(255, 165, 0, 0.37);
}

form.search-bar > .btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0px;
  margin: 10px 17px;
  padding: 5px;
}

form.search-bar > .btn:hover {
    color: orange;
}

.form-control.sm {
  width: 235px;
}
.form-control.lg {
  width: 333px;
}

@media (max-width: 1250px) {
  .form-control.sm {
  width: 200px;
  }
  .form-control.lg {
    width: 300px;
  }
}

@media (max-width: 1000px) {
  nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    *font-size: 12px;
}
.form-control.sm {
  width: 58px;
  }
  .form-control.lg {
    width: 168px;
  }
}

@media (max-width: 768px) {
  .form-control.sm {
  width: 100%;
  }
  .form-control.lg {
    width: 100%;
  }

  form.search-bar {
    padding: 0;
  }

  form.search-bar > .btn {
  margin: 3px;
  }
  /* fix ipadmini nav bug */

  nav ul li a {
  line-height: normal;
  padding-left: 10px;
  padding-right: 10px;
  }

  nav ul li.active a ,  nav ul li.active{
  border-top: none !important;
  color: #FFF !important;
  font-weight: 300;
  background-color: #47A2D6 !important;
  }

  #navbar nav ul > li > a:hover {
    color: white !important;
    font-weight: 500;
  }
}
nav ul.navbar-right li.nb {border-left: none;}

/*
.search-box .input-group-btn > .btn {
    padding: 13.5px 16px;
    border-radius: 0px;
    background-color: #fff !important;
}

.search-box .input-group-btn > .btn > span {
  color: rgb(199, 199, 199);
}

.search-box.open {
    transform: rotateX(0deg);
    visibility: visible;
}

.search-box .form-control {
  border-radius: 0px;
  border-width: 0px;
  font-size: 15px;
  padding: 14px 10px;
  color: #000;
  height: auto;
}

.search-box .input-group .form-control {
  float: right;
  width: 97%;
}*/