#banner-container {
  margin-top: 60px;
  background-color: #47A2D6;
  background-image: image-url("grain.png");
  margin-bottom: 60px;

  div {
    @extend .text-center;

    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;

    h1 {
      @extend .text-center;

      font-family: 'Poppins';
      font-size: 50px;
      font-weight: 600;
      letter-spacing: -2px;
    }

    p {
      @extend .text-center;

      font-family: 'Poppins';
      font-size: 22px;
      font-weight: 300;
    }

    ul {
      @extend .list-unstyled;
      @extend .text-left;

      margin: 0 auto;
      width: 347px;
      font-size: 20px;
    }

    i {
      @extend .orange;
    }
  }

  a {
    @extend .btn;
    @extend .btn-warning;
    @extend .btn-lg;
    font-weight: 500 !important;
  }
}

#homepage {
  @extend .row;

  div {
    @extend .col-md-4;
    @extend .text-center;
  }

  p {
    @extend .text-left;
  }

  h2 {
    font-family: 'Poppins';
    font-weight: 600;
  }
}
