@import url(https://fonts.googleapis.com/css?family=Muli:300,400|Open+Sans+Condensed:300,700);


html, body {
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #636363 !important;
}

.btn {
  border: 1px solid transparent;
  transition: 0.05s;
  -moz-transition: 0.05s;
  -webkit-transition: 0.05s;
  -o-transition: 0.05;
}

.btn-primary {
  background-color: #47A2D6 !important;
  border-color: #47A2D6 !important;
}

.btn-primary:hover {
  background-color: #4790BA !important;
  border-color: #4790BA !important;
}

.btn-success {
  background-color: rgb(103, 169, 51);
  border-color: rgb(103, 169, 51) !important;
}

.btn-success:hover {
  background-color: rgb(89, 155, 36);
  border-color: rgb(89, 155, 36);
}

.btn-warning {
  background-color: #EB9000 !important;
  border-color: #EB9000 !important;
}

.btn-warning:hover {
  background-color: #D27802 !important;
  border-color: #D27802 !important;
}

.btn-secondary {
  background-color: #277AA9 !important;
  color: #fff !important;
  border-color: #277AA9 !important;
}

.btn-secondary:hover {
  background-color: #2C749E !important;
  border-color: #2C749E !important;
  color: #fff;
}

.btn-default{
  color: #555 !important;
  background-color: #ccc !important;
  border-color: #ccc !important;
}

.btn-default:hover{
  color: #555 !important;
  background-color: #E6E6E6 !important;
  border-color: #E6E6E6 !important;
}

.green {
  color: yellowgreen;
}

.red {
  color: rgb(210, 7, 7);
}

.orange {
  color: orange;
}

.yellow {
  color: rgb(237, 180, 34);
}

.text-small{
  font-size: 14px;
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

#login > div:first-child {
  @extend .col-sm-7;
}

#login-form {
  @extend .col-sm-5;
  @extend .well;

    #username-field, #password-field {
      @extend .form-group;

      input {
        @extend .form-control;
      }
    }
    #login-submit {
      @extend .text-center;
        input {
          @extend .btn;
          @extend .btn-warning;
        }
    }
    div:nth-child(5) {
      @extend .text-center;
      span {
      }
    }
}

#sa > div:first-child {
  @extend .col-sm-9;
}

#sa > div:nth-child(2) {
  @extend .col-sm-3;
  @extend .hidden-xs;
}

#sa > div:first-child div {
  @extend .visible-xs;
}

#sa-dropdown-menu {
    @extend .btn-group;

    button {
      @extend .btn;
      @extend .btn-default;
      border-radius: 4px !important;

      span {
        @extend .caret;
      }
    }
  }

.text-indent{padding-left: 15px;}

#coc {@extend .container;}
