@import url(https://fonts.googleapis.com/css?family=Muli:300,400|Open+Sans+Condensed:300,700|Poppins:300,400,500,600,700|Roboto:400,300,500,700,900);

html, body {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 300 !important;
  color: #636363 !important;
  text-rendering: optimizeLegibility !important;
}

strong {
  font-weight: 600 !important;
}

label {
  font-weight: 500 !important;
}

::-webkit-input-placeholder {
   color: #d6d6d6 !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d6d6d6 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d6d6d6 !important;
}

:-ms-input-placeholder {
   color: #d6d6d6 !important;
}

.alert {
  padding: 10px 15px !important;
}

.btn {
  border: 1px solid transparent;
  font-weight: 500 !important;
  transition: 0.05s;
  -moz-transition: 0.05s;
  -webkit-transition: 0.05s;
  -o-transition: 0.05;
}

.btn-link {
  font-weight: 500 !important;
}

.btn-primary {
  background-color: #47A2D6 !important;
  border-color: #47A2D6 !important;
}

.btn-primary:hover {
  background-color: #4790BA !important;
  border-color: #4790BA !important;
}

.btn-success {
  background-color: rgb(103, 169, 51);
  border-color: rgb(103, 169, 51) !important;
}

.btn-success:hover {
  background-color: rgb(89, 155, 36);
  border-color: rgb(89, 155, 36);
}

.btn-warning {
  background-color: #EB9000 !important;
  border-color: #EB9000 !important;
}

.btn-warning:hover {
  background-color: #D27802 !important;
  border-color: #D27802 !important;
}

.btn-secondary {
  background-color: #277AA9 !important;
  color: #fff !important;
  border-color: #277AA9 !important;
}

.btn-secondary:hover {
  background-color: #2C749E !important;
  border-color: #2C749E !important;
  color: #fff;
}

.btn-default{
  color: #828282 !important;
  background-color: #E8E8E8 !important;
  border-color: #DCDCDC !important;
}

.btn-default:hover{
  color: #555 !important;
  background-color: #E6E6E6 !important;
  border-color: #E6E6E6 !important;
}

.btn-xs, .btn-sm {
  font-weight: 300 !important;
}

.green {
  color: rgb(74, 163, 37);
}

.red {
  color: rgb(210, 7, 7);
}

.orange {
  color: orange;
}

.grey {
  color: #999;
}

.yellow {
  color: rgb(237, 180, 34);
}

.text-small{
  font-size: 14px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-header {
    padding: 15px;
    min-height: 16.42857143px;
    background-color: #47A2D6;
    color: #fff;
    border-radius: 4px 4px 0 0;
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
  #notice {
    width: 100%;
    margin-left: 15px;
  }
  #alert{
    width: 955px;
    margin-left: 15px;
  }
  #alert, #table{
    width: 955px;
  }
}


.back-btn {
  padding: 2px 5px 0px;
}

.info-header h3 {
    color: #4195C6;
    text-transform: lowercase;
    margin-top: 10px;
    margin-bottom: 20px;
}


#login > div:first-child {
  @extend .col-sm-7;
}

#login-form {
  @extend .col-sm-5;
  min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #E3EBEF;
    border-radius: 4px;

    #username-field, #password-field {
      @extend .form-group;

      input {
        @extend .form-control;
        border-color: transparent !important;
        box-shadow: none !important;
      }

      input:focus {
        border-color: rgba(255, 165, 0, 0.37) !important;
      }
    }
    #login-submit {
      @extend .text-center;
        input {
          @extend .btn;
          @extend .btn-warning;
        }
    }
    div:nth-child(5) {
      @extend .text-center;
      span {
      }
    }
}

#sa > div:first-child {
  @extend .col-sm-9;
}

#sa > div:nth-child(2) {
  @extend .col-sm-3;
  @extend .hidden-xs;
}

#sa > div:first-child div {
  @extend .visible-xs;
}

#sa-dropdown-menu {
    @extend .btn-group;

    button {
      @extend .btn;
      @extend .btn-default;
      border-radius: 4px !important;

      span {
        @extend .caret;
      }
    }
  }

.text-indent{padding-left: 15px;}

#coc, #alert, #load-credit-page, #domain_info {@extend .container;}


div.btn {border-radius: 2px; margin-right: 10px;}

