#partner_info {
  @extend .container;

  h3 {
    @extend .text-primary;

    font-weight: bold;
  }
}

#pinfo > div {
  @extend .form-group;
  @extend .clearfix;
  @extend .row;

  label {
    @extend .control-label;
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-5;

    padding-top: 0;

    span {
      padding-left: 17px;
    }
  }

  div.inputfield {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-7;
    color: #47A2D6;
  }
}

#pinfo h5 {
  color: rgb(139, 139, 139);
  font-size: 12px;
}
