#partner_info {
  @extend .container;

  h3 {
    font-weight: 500;
    margin-bottom: 5px;
    color: #4399CA;
  }

  span {
    font-weight: 300;
    font-size: 16px;
    color: #8b8b8b;
    vertical-align: middle;
  }
}

.pinfo-form-group {
  padding: 0 20px;
}

#pinfo .pinfo-form-group > div {
  @extend .form-group;
  @extend .clearfix;
  @extend .row;

  label {
    @extend .control-label;
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-5;

    padding-top: 0;

    span {
      padding-left: 17px;
    }
  }

  div.inputfield {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-7;
    color: #47A2D6;
  }
}

p.pinfo-note {
  color: rgb(139, 139, 139);
  font-size: 12px;
}

.partner-ns-actions {
  float: right;
}

#editNsBtn {
  display: inline-block;
}

#cancelNsBtn {
  display: inline-block;
}