#register-checkout.modal .modal-footer {
	text-align: center !important;
}

#register-checkout.modal table tr td:last-child {
	text-align: right;
}

#register-checkout.modal table tr.total-amount td {
	font-size: 16px;
	font-weight: bold;
}

.register-page {
width: 70%;
margin: 0 auto;
}

.register-page > form.register-form-search{
	width: 100%;
	margin-bottom: 15px;
}

.register-page > form.register-form-search 	> input[type="text"] {

	width: 100%;
	line-height: 31px;
}

.register-page > form.register-form-search > input[type="text"], .register-page > form.register-form-search	> select{
	width: 100%;
	box-shadow: none !important;
	line-height:1.7;
	border: 1px solid rgba(0,0,0,0.2);
}

.register-page > form.register-form-search	> input:focus, .register-page > form.register-form-search	> select:focus {
	border-color: rgba(255, 165, 0, 0.37);
}

form.register-form-search.navbar-form {
	position: relative;
	padding-left: 0;
    padding-right: 0;
}

form.register-form.navbar-form {
    position: relative;
    background-color: #E6F3F9;
    padding-top: 10px;
    padding-bottom: 20px;
}

form.register-form.navbar-form h4 {
	margin-bottom: 10px;
}

#register-checkout .btn h6 {
    margin: 0 !important;
}

form.register-form-search .btn {
    position: absolute;
    right: 1px;
    top: 3px;
    padding: 7px 15px;
    background-color: #fff;
}

.register-available {
	background-color: rgb(206, 236, 206) !important;
	transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
}


.register-available-input {
	background-color: rgb(206, 236, 206) !important;
	color: green !important;
	border-color: green !important;
	transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.register-cancel-input {
	background-color: pink !important;
	color: red !important;
	border-color: red !important;
}

form.register-form-search input.btn:active, form.register-form-search .btn:focus {
	box-shadow: none !important;
	border-color: transparent !important;
}

.has-feedback label ~ .form-control-feedback {
    top: 25px !important;
}

@media (max-width: 768px){
	.register-page {
	width: 90%;
	}

	.register-page > form .col-sm-6	{
		margin-bottom: 15px;
	}

	.navbar-form .has-feedback .form-control-feedback {
    top: 0 !important;
  }

	form.register-form-search .btn {
  	top: 13px !important;
  	right: 1px;
  }

}

.fa.form-control-feedback {
    line-height: 34px; /* @input-height-base; */
}
.input-sm ~ .fa.form-control-feedback {
    line-height: 30px; /* @input-height-base; */
}
.input-lg ~ .fa.form-control-feedback {
    line-height: 46px; /* @input-height-base; */
}


.has-feedback-left input.form-control {
    padding-left: 34px; /* @input-height-base; */
    padding-right: 12px; /* @padding-base-horizontal */
}

.has-feedback-left .form-control-feedback {
    left: 0;
}
.form-horizontal .has-feedback-left .form-control-feedback {
    left: 12px; /* @grid-gutter-width / 2 */
}

.has-feedback-left input.input-sm {
  padding-left: 30px;  @input-height-small;
}
.has-feedback-left input.input-lg {
  padding-left: 46px;  @input-height-large;
}

tr.total-amount > td {
    font-size: 20px !important;
}
/*
div#domain-info .inputfield div {
	display:inline-block;
}

div#domain-info .inputfield input {
	@extend .form-control;
}
*/

table#domain_info_summary {
	thead {
		background-color: transparent !important;
		display: none;
	}

	tbody {
		background-color: #E3EBEF;
		border-radius: 4px;

		tr:nth-of-type(odd) {
    	background-color: transparent !important;
		}

	}

	td:first-child {
		color: #A2A2A2;
		width: 30%;
	}

	td:nth-child(2) {
    font-weight: bold !important;
    width: 70%;
    }
  }

#new-info.new-info-summary {
	 div {
	 	display: flex;
	 	margin-bottom: 5px;


	 	.inputfield {
	 		width: 75%;
	 		color: #47A2D6;
	 		padding-left: 15px;
    	padding-right: 15px;
	 		div {
	 			width: 65%;
	 			float: left;
	 			.text-muted {
	 				float: left;
	 			}
	 			.string {


	 			}
	 		}
	 	}
	 	label {
	 		width: 25%;
	 		float: left;
	 		padding-top: 0px !important;
	    margin-bottom: 0;
	    text-align: left !important;
	    padding-left: 20px;
	 	}
	 }
}

#head {
  span.btn {
    border-color: #E3EBEF;
    border-width: 1px;
    font-size: 18px;
    font-weight: 300!important;
    margin-right: 10px;}
}
.inputfield {
  span.btn-default{background-color: #fff !important;}
  }
@media (max-width: 768px) {
	#new-info.new-info-summary div label {
		width: 50% !important;
	}
	#new-info.new-info-summary > div > div.inputfield {
		width: 50% !important;
	}
	#new-info.new-info-summary div .inputfield div span {
    margin-left: 20px;
	}
	#new-info.new-info-summary div .inputfield div {
		width: 100%;
	}
}



@media (max-width: 480px) {

	#new-info.new-info-summary > div {
		 	display: block;
		 	margin-bottom: 5px;
	}
	#new-info.new-info-summary div label {
		width: 100% !important;
	}
	#new-info.new-info-summary > div > div.inputfield {
		width: 100% !important;
	}

}



