<% content_for :banner_title do %>
<%= fa_icon 'pencil-square-o lg' %>&nbsp;Register Domain
<% end %>
<div class="register-page">
  <%= form_tag register_path 'register-form-search navbar-form' do %>
    <div class="input-group">
    <%= text_field_tag :domain_name, nil, class: 'form-control input-lg', placeholder: "Enter the domain you want to register..."  %>
    <span class="input-group-btn">
    <%= submit_tag "Register", class: 'btn btn-secondary btn-lg' %>
    </span>
    </div>
  <% end %>
</div>
