<% content_for :banner_title do %>
  <%= fa_icon 'pencil-square-o lg' %>&nbsp;Register Domain
<% end %>
<div class="register-page">
  <p>For bulk registration, separate domain with line break or space.<br>
     Available domain extensions are .PH, .COM.PH, .NET.PH, .ORG.PH.
  </p>

  <%= form_tag register_path, class: "'register-form-search navbar-form' reg-new-domain-form" do %>
    <div class="form-group">
      <%= text_area_tag :domain_name, @entered_domains, class: 'form-control input-lg',
        id: "reg-new-domain-text-area", rows: 5, placeholder: "Enter the domain you want to register." %>
    </div>
    <%= submit_tag "Register", class: 'btn btn-primary btn-lg', id: "reg-new-domain-button" %>
  <% end %>
</div>