<div id="pricing_tab">
  <br>
  <table id="pricing">
    <thead>
      <tr>
        <th>Description</th>
        <th>Term</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @pricing.each do |partner_price| %>
      <tr>
        <td><%= order_detail_type partner_price.action %></td>
        <td>
          <%= if partner_price.action == "transfer_domain" then "" else partner_price.period end %>
        </td>
        <td><%= number_to_currency partner_price.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
