<div id="pns">
  <br>
  <table id="default_nameservers">
    <thead>
      <tr>
       <th>
          Nameservers
        </th>
        <th class="text-right">
          <% unless current_user.epp_partner %>
            <%= link_to "Edit", new_profile_partner_name_server_path, id: "editNsBtn",
              class: "btn btn-success btn-xs", remote: true %>
          <% end %>
        </th>
      </tr>
    </thead>
  </table>
  <div id="warning" class="alert alert-warning pns-error-notice">
    <p id="pns-error-text"></p>
  </div>
  <div id="pnsTableBody">
    <%= render "profile/current_partner_nameserver" %>
  </div>
  <br>
</div>
